In [1]:
data = open("jd/train.txt", "r")

In [2]:
import pandas as pd
import pickle

obj = pd.read_pickle('jd/train.txt')

In [3]:
df = pd.DataFrame(obj)

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,...,139253,139254,139255,139256,139257,139258,139259,139260,139261,139262
0,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1]","[1, 1, 1, 1]","[1, 1, 1]","[1, 1]",...,"[29, 29, 29, 30, 30, 29, 29, 30, 29, 29]","[29, 29, 29, 30, 30, 29, 29, 30, 29]","[29, 29, 29, 30, 30, 29, 29, 30]","[29, 29, 29, 30, 30, 29, 29]","[29, 29, 29, 30, 30, 29]","[29, 29, 29, 30, 30]","[29, 29, 29, 30]","[29, 29, 29]","[29, 29]",[29]
1,1,1,1,1,1,1,1,1,1,1,...,29,29,29,30,29,29,30,30,29,29

In [5]:
md = df.max(axis=1)

In [6]:
print("TOTAL NODES = " + str(md[1]+1))

TOTAL NODES = 85